body{
    background-image: url('../images/stark_bg.jpg');
    background-color: bisque;
    background-size: cover;
    background-attachment: fixed;
    color: red;
    font-family: 'Trajan Pro', serif;
}

.character, .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.button {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to bottom, #6b4226, #4e342e);
  border: 3px solid #d4af37; /* Gold color */
  padding: 8px 16px;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 0 4px #3b240b, 0 8px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
  }

  .flex-info{
    display: flex;
    gap: 50px;
  }

  .character{
    color: #89c4ff;
  }

  .character h1{
    color: yellow;
    padding-bottom: 20px;
  }

  .srchChar{
    color: whitesmoke;
  }